:root {
  --color-white: #fff;
  --color-26: #262626;
  --color-primary: #036bb1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none; }

html {
  font-family: 'Baloo Da 2', cursive;
  font-size: 62.5%; }

.blue-btn {
  width: 35rem;
  height: 5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer; }

.section-1 {
  width: 100%;
  height: 65vh;
  background: linear-gradient(to top, rgba(38, 38, 38, 0.7), rgba(38, 38, 38, 0.6)), url("/images/bg.jpg") center no-repeat;
  background-size: cover;
  position: relative; }

.section-2 {
  width: 100%;
  padding: 10rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-2__heading {
    font-size: 5rem;
    font-weight: 300;
    color: #333;
    margin-bottom: 3rem; }

.section-3 {
  width: 100%;
  padding: 5rem 0;
  background: linear-gradient(to right, rgba(3, 33, 129, 0.9), rgba(9, 67, 153, 0.8), rgba(4, 32, 124, 0.9));
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-3__heading {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 5rem; }

.section-4 {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-4__heading {
    font-size: 5rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 5rem; }
  .section-4__content {
    display: flex; }
    .section-4__content .section-4__image-box {
      width: 50rem; }
      .section-4__content .section-4__image-box img {
        width: 100%;
        opacity: 0.8; }
    .section-4__content .section-4__list {
      width: 55%;
      margin-top: 2rem; }
      .section-4__content .section-4__list .section-4__item {
        font-size: 1.6rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-bottom: 2rem; }
        .section-4__content .section-4__list .section-4__item a {
          color: #036bb1;
          font-weight: bold; }
        .section-4__content .section-4__list .section-4__item .number {
          width: 3.5rem;
          height: 3.5rem;
          border: 0.1rem solid #555;
          border-radius: 50%;
          margin-right: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center; }

.section-5 {
  width: 100%; }
  .section-5-top {
    width: 100%;
    background-color: #f3f7fa;
    text-align: center;
    padding: 7rem 0; }
    .section-5-top__heading {
      font-size: 3.5rem;
      font-weight: 400;
      margin-bottom: 4rem; }

.navbar {
  width: 100%;
  height: 8rem;
  border-bottom: 0.1rem solid #aaa;
  display: flex;
  justify-content: center; }
  .navbar__box {
    width: 120rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__logo {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    position: relative; }
    .navbar__logo--p1 {
      font-size: 4.5rem;
      margin-right: 1rem;
      position: relative;
      z-index: 10; }
    .navbar__logo--p2 {
      font-size: 4.5rem;
      color: #bbb;
      position: absolute;
      top: 0.4rem;
      left: 0.5rem; }
  .navbar__list {
    display: flex; }
  .navbar__item {
    height: 8rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    transition: border-bottom 0.1s; }
    .navbar__item:hover {
      border-bottom: 0.2rem solid var(--color-white); }
    .navbar__item:hover .navbar__link i {
      transform: rotateZ(180deg); }
  .navbar__link {
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
    display: flex;
    align-items: center; }
    .navbar__link i {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      transition: transform 0.3s; }
  .navbar__dropdown {
    width: 100%;
    height: 20rem;
    background: linear-gradient(to right, #066399, #2f8fdf, #066399);
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 50;
    padding: 0 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden; }
    .navbar__dropdown-item {
      width: 25rem;
      margin: 2rem 10rem;
      display: flex;
      flex-direction: column; }
    .navbar__dropdown-link--1, .navbar__dropdown-link--2 {
      color: var(--color-white); }
    .navbar__dropdown-link--1 {
      font-size: 1.6rem; }
    .navbar__dropdown-link--2 {
      font-size: 1.3rem;
      color: var(--color-white); }

.banner {
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center; }
  .banner__heading {
    font-size: 6rem;
    font-weight: 300;
    color: var(--color-white);
    margin-bottom: 3rem; }
  .banner__paragraph {
    font-size: 1.8rem;
    color: var(--color-white);
    width: 50%;
    margin: 0 auto 4rem auto; }

.services {
  display: flex; }
  .services .service {
    width: 35rem;
    text-align: center;
    margin: 0 5rem; }
    .services .service i {
      font-size: 6rem;
      color: #229fe7;
      margin: 2rem 0; }
    .services .service__heading {
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 1rem; }
    .services .service__paragraph {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
      line-height: 1.2; }
    .services .service__btn {
      width: 20rem;
      padding: 1.5rem;
      background-color: transparent;
      border-radius: 3rem;
      border: 0.1rem solid #036bb1;
      font-size: 1.5rem;
      color: #036bb1;
      cursor: pointer;
      font-weight: bold; }

.features {
  width: 70%;
  display: flex;
  flex-wrap: wrap; }
  .features .feature {
    width: calc(100% / 3);
    text-align: center;
    padding: 0 5rem;
    margin-bottom: 5rem; }
    .features .feature__heading {
      width: max-content;
      font-size: 3rem;
      font-weight: 300;
      margin: 0 auto 1rem auto; }
    .features .feature__paragraph {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2; }

.footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 3rem 0; }
  .footer-top {
    width: 70%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem dotted #262626;
    padding-bottom: 1rem; }
  .footer__list {
    display: flex;
    justify-content: center; }
    .footer__list li {
      margin-right: 2.5rem; }
      .footer__list li a {
        font-size: 1.5rem;
        font-weight: 600;
        color: #262626; }
    .footer__list img {
      width: 3.8rem;
      opacity: 0.6; }

.copyright {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem; }

.navbar__buttons .navbar__btn {
  width: 8rem;
  padding: 0.7rem;
  margin: 0.3rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  border: 0.1rem solid var(--color-white);
  cursor: pointer; }
  .navbar__buttons .navbar__btn--login {
    background-color: transparent;
    color: var(--color-white); }
  .navbar__buttons .navbar__btn--signup {
    background-color: var(--color-white);
    color: var(--color-26); }
