:root {
  --color-white: #fff;
  --color-26: #262626;
  --color-primary: #036bb1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none; }

html {
  font-family: 'Baloo Da 2', cursive;
  font-size: 62.5%; }

.blue-btn {
  width: 35rem;
  height: 5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer; }

.section-1 {
  width: 100%;
  height: 65vh;
  background: linear-gradient(to top, rgba(38, 38, 38, 0.7), rgba(38, 38, 38, 0.6)), url("/images/bg.jpg") center no-repeat;
  background-size: cover;
  position: relative; }

.navbar {
  width: 100%;
  height: 8rem;
  border-bottom: 0.1rem solid #aaa;
  display: flex;
  justify-content: center; }
  .navbar__box {
    width: 120rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__logo {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    position: relative; }
    .navbar__logo--p1 {
      font-size: 4.5rem;
      margin-right: 1rem;
      position: relative;
      z-index: 10; }
    .navbar__logo--p2 {
      font-size: 4.5rem;
      color: #bbb;
      position: absolute;
      top: 0.4rem;
      left: 0.5rem; }
  .navbar__list {
    display: flex; }
  .navbar__item {
    height: 8rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    transition: border-bottom 0.1s; }
    .navbar__item:hover {
      border-bottom: 0.2rem solid var(--color-white); }
    .navbar__item:hover .navbar__link i {
      transform: rotateZ(180deg); }
  .navbar__link {
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
    display: flex;
    align-items: center; }
    .navbar__link i {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      transition: transform 0.3s; }

.banner {
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center; }
  .banner__heading {
    font-size: 6rem;
    font-weight: 300;
    color: var(--color-white);
    margin-bottom: 3rem; }
  .banner__paragraph {
    font-size: 1.8rem;
    color: var(--color-white);
    width: 50%;
    margin: 0 auto 4rem auto; }

.navbar__buttons .navbar__btn {
  width: 8rem;
  padding: 0.7rem;
  margin: 0.3rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  border: 0.1rem solid var(--color-white);
  cursor: pointer; }
  .navbar__buttons .navbar__btn--login {
    background-color: transparent;
    color: var(--color-white); }
  .navbar__buttons .navbar__btn--signup {
    background-color: var(--color-white);
    color: var(--color-26); }
