// Breakpoints manager

$wide: 93.75em; // 1500px
$laptop: 87.5em; // 1400px
$laptop-sm: 75em; //1200px
$laptop-xsm: 68.75em; // 1100px
$tablet: 62.5em; // 1000px
$tab-port: 50em; // 800px
$phone-land: 34.375em; // 550px
$tiny: 25em; // 400px

@mixin respond($breakpoint) {
	@if ($breakpoint == wide) {
		@media only screen and (max-width: $wide) {
			@content;
		}
	}

	@if ($breakpoint == laptop) {
		@media only screen and (max-width: $laptop) {
			@content;
		}
	}

	@if ($breakpoint == laptop-sm) {
		@media only screen and (max-width: $laptop-sm) {
			@content;
		}
	}

	@if ($breakpoint == laptop-xsm) {
		@media only screen and (max-width: $laptop-xsm) {
			@content;
		}
	}

	@if ($breakpoint == tablet) {
		@media only screen and (max-width: $tablet) {
			@content;
		}
	}

	@if ($breakpoint == tab-port) {
		@media only screen and (max-width: $tab-port) {
			@content;
		}
	}

	@if ($breakpoint == phone-land) {
		@media only screen and (max-width: $phone-land) {
			@content;
		}
	}

	@if ($breakpoint == tiny) {
		@media only screen and (max-width: $tiny) {
			@content;
		}
	}
}
