* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	outline: none;
}

.menu {
	display: none;
}

li.navbar__dropdown-item.navbar__dropdown-heading {
	display: none;

	@include respond(tablet) {
		display: block;
	}
}
// .front-page {
// 	// display: none;
// }
