.features {
	width: 70%;
	display: flex;
	flex-wrap: wrap;

	@include respond(wide) {
		width: 80%;
	}

	@include respond(laptop) {
		width: 90%;
	}

	@include respond(tablet) {
		width: 95%;
	}

	@include respond(tab-port) {
		width: 100%;
	}

	@include respond(phone-land) {
		flex-direction: column;
		align-items: center;
	}
	.feature {
		width: calc(100% / 3);
		text-align: center;
		padding: 0 5rem;
		margin-bottom: 5rem;

		@include respond(wide) {
			padding: 0 3rem;
		}

		@include respond(tablet) {
			padding: 0 1.5rem;
		}

		@include respond(tab-port) {
			width: 50%;
			padding: 0 4rem;
			text-align: left;
		}

		@include respond(phone-land) {
			width: 80%;
		}

		&__heading {
			width: max-content;
			font-size: 3rem;
			font-weight: 300;
			margin: 0 auto 1rem auto;
		}

		&__paragraph {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.2;
		}
	}
}
