.footer {
	width: 100%;
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 0 3rem 0;

	&-top {
		width: 70%;
		display: flex;
		justify-content: space-between;
		border-bottom: 0.1rem dotted #262626;
		padding-bottom: 1rem;

		@include respond(tablet) {
			flex-direction: column;
			align-items: center;
		}

		@include respond(phone-land) {
			width: 90%;
		}
	}

	&__list {
		display: flex;
		justify-content: center;

		@include respond(tablet) {
			margin-bottom: 1rem;
		}

		li {
			margin-right: 2.5rem;

			a {
				font-size: 1.5rem;
				font-weight: 600;
				color: #262626;
			}
		}

		img {
			width: 3.8rem;
			opacity: 0.6;
		}
	}
}

.copyright {
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 0.1rem;

	@include respond(tablet) {
		margin: 1.5rem 0;
	}
}
