.services {
	display: flex;

	@include respond(laptop) {
		width: 90%;
	}

	@include respond(tab-port) {
		width: 95%;
	}

	@include respond(phone-land) {
		flex-direction: column;
		align-items: center;
	}

	.service {
		width: 35rem;
		text-align: center;
		margin: 0 5rem;

		@include respond(tab-port) {
			width: 30rem;
			margin: 0 2rem;
		}

		@include respond(phone-land) {
			width: 60%;
			margin-bottom: 4rem;
		}

		i {
			font-size: 6rem;
			color: #229fe7;
			margin: 2rem 0;

			@include respond(tab-port) {
				font-size: 4rem;
			}
		}

		&__heading {
			font-size: 3rem;
			font-weight: 300;
			margin-bottom: 1rem;
		}

		&__paragraph {
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 2rem;
			line-height: 1.2;
		}

		&__btn {
			width: 20rem;
			padding: 1.5rem;
			background-color: transparent;
			border-radius: 3rem;
			border: 0.1rem solid #036bb1;
			font-size: 1.5rem;
			color: #036bb1;
			cursor: pointer;
			font-weight: bold;

			@include respond(tab-port) {
				width: 15rem;
				padding: 1rem;
			}
		}
	}
}
